In [1]:
import pandas as pd
import seaborn as sns

iris = sns.load_dataset('iris')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [27]:
d = iris.groupby('species')['sepal_length'].agg('sum')
sorted_vals = d.sort_values(ascending = False)
sorted_vals = sorted_vals.reset_index()
sorted_vals.head()

      species  sepal_length
0   virginica         329.4
1  versicolor         296.8
2      setosa         250.3

In [29]:
sorted_vals.sort_values(["species", "sepal_length"], ascending = [True, False])

      species  sepal_length
2      setosa         250.3
1  versicolor         296.8
0   virginica         329.4

In [21]:
sorted_vals.index[0]
sorted_vals[0]

'virginica'

329.4